APP_BASE_URL=http://localhost:5000
PORT=5000
APP_JWT_SECRET=
DATABASE_USER=root
DATABASE_PASS=
DATABASE_NAME=ways_book
DATABASE_HOST=localhost
DATABASE_DIALECT=mysql
ALLOWED_CLIENT_ORIGIN=http://localhost:3000
CLIENT_BASE_URL=http://localhost:3000
APP_ALLOWED_FILE_SIZE=10

MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false

RAJA_ONGKIR_KEY=
RAJA_ONGKIR_REGION_PLACE=22

SENDINBLUE_USER=
SENDINBLUE_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
